* { padding: 0;
    margin: 0;
}

.loop, .loop-infinity, .loop-reverse, .loop-reverse-infinity, .loop-alternate-infinity  {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: deepskyblue;
}